@import './constants.scss';

$fontSize: 14px;
$fontFamily: Regular, "Roboto Condensed", sans-serif;
$fontLH: 120%;
$mainColor: #000;
html,
body {
width: 100%;
height: 100%;
font: #{$fontSize}/#{$fontLH} $fontFamily;
color: $N0;
background: $N100;
};
.AppContainer {
    width: 900px;
    display: grid;
    grid-template-columns: 850px;
    grid-template-rows: 200px 600px 200px;
};